.nav-wrapper {
    background-color: steelblue;

}

#title {
    text-align: center;
    /* clear: both; */
}

button {
    background-color: steelblue;
    border-color: steelblue;
    color: white;
}

#searchForm {
    width: 30%;
}

